@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.dark {
  @apply bg-black sm:text-base text-sm;
}

.active {
  @apply font-semibold text-white underline underline-offset-8 decoration-blue-600 max-lg:decoration-green-600;
}

input {
  @apply outline-none p-2 bg-transparent border-neutral-400 border-b-2;
}

textarea {
  @apply outline-none p-2 border-2 border-neutral-400 rounded-xl bg-transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
